export NODE_ENV=production
export PORT=3000
export HOST=127.0.0.1
export TOKEN_CACHE_FILE="${HOME}/.tcache/cache.json"

export TENANT_ID=''
export CLIENT_ID=''
export CLIENT_SECRET=''
export REDIRECT_URI=$(aa-get-redirect-uri.sh)

export EPISODES_API_URI=""
export EPISODES_API_URL="http://127.0.0.1:3100"
