export NODE_ENV=development
export PORT=3000
export HOST=127.0.0.1
export TOKEN_CACHE_FILE="${HOME}/.tcache/cache.json"

export TENANT_ID=''
export CLIENT_ID=''
export CLIENT_SECRET=""
export REDIRECT_URI="http://localhost:${PORT}/callback"

export EPISODES_API_URI=""
export EPISODES_API_URL="http://127.0.0.1:3100"

export TEST_CLIENT_USERNAME=''
export TEST_CLIENT_PASSWORD=''