export NODE_ENV=development
export TENANT_ID=""
export PORT=3100
export HOST=127.0.0.1
export CLIENT_ID=""
export CLIENT_SECRET=""

export EPISODES_API_URI=""

export QUOTES_API_URL="http://127.0.0.1:3200"
export QUOTES_API_URI=""
